<app-contact-card></app-contact-card>
<div>
    <form [formGroup]='contactForm' class="login-form">

        <div>
            <div class="form-label">
                <label>Full name</label><label>Required</label>
            </div>
            <div>
                <input placeholder="full name" formControlName="fullName">
            </div>
        </div>
        <div>
            <div class="form-label">
                <label>Email</label><label>Required</label>
            </div>
            <div>
                <input formControlName="email" placeholder="email">
            </div>
        </div>
        <div>
            <div class="form-label">
                <label>Company name</label><label>Required</label>
            </div>
            <div>
                <input formControlName="companyName" placeholder="company name">
            </div>
        </div>
        <div>
            <button class="submit-button">
                Save</button>
        </div>
    </form>

</div>


<div *ngFor="let post of testContactDetails.posts">
    <app-post-card [title]="post.title" [body]="post.body"></app-post-card>
</div>