.header{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    .contact-form{
    display: flex;
    flex-direction: column;
        
        .form-title{
            align-self:center;
        }
        
        .submit-button{
            width: 100%;
                 
        }

        & > *{
            margin: 10px 0;
        }
    }
}