@import '../../../../styles.scss';

button{
    border: 1px;
    padding: 10px 20px;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    background-color: $primary-color;
}

button:disabled{
    background-color: darkgray !important;
}