

.nav{
  display: flex;
  background-color: blue;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;

  .nav-links{
      flex: 1;
  }
 
  a{
  float: left;
  display: block;
  color: #f2f2f293;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  

  }
  .active-link {
    color: white;
    }

  .logout-link{
    background-color: yellow;
    color: blue ;
    cursor: pointer;
  }
  

}
