@import '../../../../styles.scss';

.contact-container{
    display: flex;
    background-color:$accent-color;;
    padding: 20px;
    margin-bottom: 10px;
}


.card-text{
    color: $primary-color;
}

